body {
  padding: 2rem;
  margin: 0;
  font-family:'Courier New', Courier, monospace;
  min-width: 400px;
}

#save-btn {
    background-color: #c9ada7;
    border: 1px solid black;
    border-radius: 2rem;
    padding: 0.5rem;
    transition-duration: 0.5s;
    cursor: pointer;
    font-family: inherit;
    width: 5.5rem;
}

#tab-btn {
    background-color: #c9ada7;
    border: 1px solid black;
    border-radius: 2rem;
    padding: 0.5rem;
    transition-duration: 0.5s;
    cursor: pointer;
    font-family: inherit;
}

#delete-btn {
    background-color: #c9ada7;
    border: 1px solid black;
    border-radius: 2rem;
    padding: 0.5rem;
    transition-duration: 0.5s;
    cursor: pointer;
    font-family: inherit;
    width: 5.5rem;
}

button:hover {
    transform: scale(1.1);
}

input {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.8rem;
    box-sizing: border-box;
    transition-duration: 0.5s;
}

input:hover {
    transform: scale(1.05);
}

li {
    padding: 0.3rem;
}

ul,
li,
a {
    color: #c9ada7;
    text-decoration: none;
    list-style-type: none;
    padding: 0.3rem;
    transition-duration: 0.5s;
}

ul:hover,
li:hover,
a:hover {
    color: #9a8c98
}